

  <head>
    <link rel="stylesheet" type="text/css" href="mystyle.css">
    <meta charset="utf-8">
    <title> Tic Tac Toe </title>
  </head>
  <body>
    <table class="table">

      <form method="POST">
      <tr>
        <td>
          <select name="space1">
            <option = " ">   </option>
            <option = "L"> L </option>
            <option = "O"> O </option>
          </select>
        </td>
        <td>
          <select name="space2">
            <option = " ">   </option>
            <option = "L"> L </option>
            <option = "O"> O </option>
          </select>
        </td>
        <td>
          <select name="space3">
            <option = " ">   </option>
            <option = "L"> L </option>
            <option = "O"> O </option>
          </select>
        </td>
      </tr>
      <tr>
        <td>
          <select name="space4">
            <option = " ">   </option>
            <option = "L"> L </option>
            <option = "O"> O </option>
          </select>
        </td>
        <td>
          <select name="space5">
            <option = " ">   </option>
            <option = "L"> L </option>
            <option = "O"> O </option>
          </select>
        </td>
          <td>
            <select name="space6">
              <option = " ">   </option>
              <option = "L"> L </option>
              <option = "O"> O </option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <select name="space7">
              <option = " ">   </option>
              <option = "L"> L </option>
              <option = "O"> O </option>
            </select>
          </td>
          <td>
            <select name="space8">
              <option = " ">   </option>
              <option = "L"> L </option>
              <option = "O"> O </option>
            </select>
          </td>
            <td>
              <select name="space9">
                <option = " ">   </option>
                <option = "L"> L </option>
                <option = "O"> O </option>
              </select>
            </td>
          </tr>
        </table>
        <!-- <input type="submit" value="Did I win?" class="button">
        </form>
        <%= wins %> -->
        <FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Refresh" class="refresh">
</FORM>
      </body>
